# Absolute paths
/.coverage
/.env
/.pytest_cache
/.venv
/dist
/venv
/scratch/*

# Patterns
__pycache__
.claude
.DS_Store

# Exclusions
!/scratch/README.md

# Secrets
/gcp_service_account_key.json
/google-ads.yaml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
